/*
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/pabellon_computacion.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 16px;
}*/
/* este container es del primer chat
.container {
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
*/
/*este chatbot es del primer chat
.chatbox {
    width: 50%;
    height: 775px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    background: rgb(138, 133, 132);
    border-radius: 10px;
}
*/



/*
.header {
    background: #000000;
    padding: 20px;
    color: aliceblue;
    font-size: 20px;
}

.avail {
    font-size: 12px;
    padding: 0 20px;
    padding-right: 30px;
}

.avail::after {
    content: "";
    display: inline-block;
    background: rgb(4, 180, 4);
    width: 10px;
    height: 10px;
    margin: 0 3px;
    vertical-align: middle;
    border-radius: 50%;
}

.body {
    background: rgb(31, 8, 86);
    height: 100%;
    width: 100%;
    overflow-y: auto;
}*/


/*
input {
    height: 50px;
    width: 100%;
}

input[type="text"] {
    padding: 0 10px;
}

input[type="submit"] {
    height: 25px;
    border: 0;
    background: #000000;
    font-weight: 500;
    font-size: 17px;
    color: aliceblue;
    cursor: pointer;
}
*/

.visible {
    display: block;
}



.me {
    color: white;
    font-family: cursive;
    width: 55%;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: #6749AF;
    border-radius: 10px;
    float: right;
    text-align: right;
    display: block;
}

.alicia {
    color: white;
    font-family: cursive;
    width: 60%;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: rgb(116, 100, 154);
    border-radius: 10px;
    float: left;
    text-align: left;
    display: block;
}

.imgRedonda {
    width: 40px;
    height: 40px;
    border-radius: 150px;
}


.btn {
    border: radius 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.3);*/
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}

.btn-green {
    color: rgb(245, 245, 245);
    background-color:#ff0000;

}
.btn-green:hover {
    background-color: #ff4747;
}




/* aparti de aqui es del proyecto interfaz*/
/*chat.css*/


/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /*flex-direction: column-reverse;*//*esto ahcia q los mensaje salieran la parte de arriba*/
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

/*typing.css*/
.messages__item--typing {
    will-change: transform;
    width: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 20px;
    display: table;
    margin-right: auto;
    position: relative;
    animation: 2s bulge infinite ease-out;
}

.messages__item--typing::before,
.messages__item--typing::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -2px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
}
.messages__item--typing::after {
      height: 10px;
      width: 10px;
      left: -10px;
      bottom: -10px;
}
span.messages__dot {
    height: 8px;
    width: 8px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    animation: 1s blink infinite;
}
  
@keyframes blink {
    50% {
        opacity: 1;
    }
}
  
@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}

/*style.css del proyecto interfaz*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #791A06 0.52%, #FF2C00 100%);
    --secondaryGradient: linear-gradient(268.91deg, #791A06 -2.14%, #FF2C00 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --light: 300;
    --regular: 400;
    --semiBold: 600;
    --extraLight: 300;
    --italic: 300;
    --primary: #adadad;
}

/* 300;0,400;0,600;1,300 */

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

.chatbox__support {
    background: #791A06;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 15px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: 0.9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 15px;
    background: #E0E0E0; 
    padding: 8px 12px;
    max-width: 80%;

    margin-top: 10px;
    margin-bottom: 10px;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.messages__item--operator {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: var(--primary);
    color: white;
    background:rgb(161, 159, 159)
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    border: none;
    padding: 10px 45px;
    border-radius: 10px;
    text-align: center;
}

.chatbox__send--footer {
    background:rgb(109, 2, 2);
    color: rgb(255, 255, 255);
    width: 20%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: #80A9DD;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}